<cfoutput>
<h1>inCRUDable</h1>
<h2>A lousy CRUD app</h2>

<nav>
	<ul>
		<li><a href="#event.buildLink( 'admin.rides' )#">Manage Bike Rides</a></li>
		<li><a href="#event.buildLink( 'admin.routes' )#">Manage Bike Routes</a></li>
		<li><a href="#event.buildLink( 'admin.users' )#">Manage Users</a></li>
	</ul>
</nav>

<p></p><a class="btn btn-danger" href="#event.buildLink( 'admin.logout' )#">Log Out</a></p>
</cfoutput>